

body {
    background-color: rgb(185, 220, 220);
    padding: 20px;
}

.table{
    align-items: center;
    width: 100%;
    height: 20vh;
}
.setir{
background-color: azure;
}
.plusBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.nomre{
    text-align: center;
    background-color: azure;
}

.saveBtn {
    background-color: rgb(255, 213, 0);
    margin-right: 10px;
}

.removeBtn{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;   
}












